/*
 * AdRotate Groups
 * ---------------
 * AdRotate's groups are numeric classes from .g-1 to .g-∞
 * 
 * Group   Location
 * ------------------
 * .g-1    Header
 * .g-2    Footer
 * .g-3    Sidebar #1
 * .g-4    Sidebar #2
 * .g-5    Sidebar #3
 */

// As decided by the theme. 
$width_breakpoint: 768px;

/* 
 * General Advert Styles 
 * ---------------------
 */

.g {
    @extend %zero;
}

.g-1, .g-2 {
    /* 
     * Banner Advertisements
     * ---------------------
     * Banner advertismeents have two images, .mobile and .desktop, and which 
     * are swapped here.
     * Sidebar advertisements have neither class and just display.
     */
    padding: 20px 4%;

    img.square {
        display: none;

        @include breakpoint(smartphone) {
            display: initial;
        }
    }

    img.banner {
        display: initial; 

        @include breakpoint(smartphone) {
            display: none;
        }
    }
}

.g-3, .g-4, .g-5 {
    img.banner {
        display: none;
    }
}

.sidebar-adverts {
    /*
     * Sidebar Advertisements
     * ----------------------
     */
    width: 100%;
    @include webkit_value(display, flex);
    @include webkit(flex-direction, column);
    @include webkit(flex-wrap, nowrap);

    @include breakpoint(portrait) {
        // Spread out each of the three boxes evenly in tablet portrait mode.
        @include webkit(flex-direction, row);
        @include webkit(justify-content, space-between);
    }

    @include breakpoint(smartphone) {
        @include webkit(flex-direction, column);
    }

    > div {
        // Sidebar adverts groups: .g-2, .g-4 and .g-5
        @include webkit(flex, 1);
        margin-bottom: 20px;

        // @include breakpoint(max, $width_breakpoint) {
        @include breakpoint(portrait) {
            @include webkit(flex, 0 1 32.5%);
        }

        @include breakpoint(smartphone) {
            /* There is a bug on the iPhone in (at least) iOS 8 where the height
             * collapses to 0 if flex is set to anything but 1. */
            @include webkit(flex, 1);
        }
    }
}

.g-dyn {
    /* Dynamic adverts on rotation. AdRotate will toggle each g-dyn block in 
     * sequence, but they initially all need to be hidden on or rare occasions
     * the advert will "jump". */
    display: none;
}

a.tuairisc-advert {
    /*
     * Tuairisc Advertisement
     * ----------------------
     */

    display: block;
    text-align: center;

    img {
        max-width: 100%;
    }
}