/*
 * AdRotate Groups
 * ---------------
 * AdRotate's groups are numeric classes from .g-1 to .g-∞
 * It's stock CSS is awful and loaded at run time via JS. This
 * section hopefully overrides all of those stock rules.
 * 
 * Group   Location
 * ------------------
 * .g-1    Header
 * .g-2    Sidebar #1
 * .g-3    Footer
 * .g-4    Sidebar #2
 * .g-5    Sidebar #3
 * 
 * If the AdRotate Pro plugin is ever updated then this CSS will break. 
 * AdRotate injects its own CSS upon page load. I have prevented this behaviour
 * with the following alteration of its files:
 * 
 * adrotate.php:
 * -------------
 * Commented line 68:
 *     Before:
 *         add_action('wp_head', 'adrotate_custom_css');
 *     After:
 *         // add_action('wp_head', 'adrotate_custom_css');
 *
 * If this line is uncommented then AdRotate Pro will inject its own CSS on
 * load. This is a Bad Thing which will bork advert display.
 * 
 * ./library/jquery.adrotate.dyngroup.js:
 * --------------------------------------
 * Altered line 58:
 *      Before:
 *          $cont.find(".c-" + counter).fadeIn(300)
 *      After:
 *          $cont.find(".c-" + counter).show()
 * 
 * Altered line 61:
 *      Before:
 *          $cont.find(".c-" + index).fadeOut(300)
 *      After:
 *          $cont.find(".c-" + index).hide()
 * 
 * This stock behaviour causes the next advert in rotation to appear before the
 * previous one disappears. It causes a brief "stack" of one advert atop the 
 * other. It would've made sense to do the second fade as a callback to the 
 * first, but what would I know, eh? 
 * Regardless-if AdRotate Pro is updated, these changes will be wiped out. */

/* General Advert Styles */

.g {
    margin: 0;
    padding: 0;
    overflow: hidden;

    img {
        display: block;
        height: auto;
        max-width: 100%;
    }
}

.g-2, .g-4, .g-5 {
    width: 100%;
}

/* Group Margins and Padding */

.g-1, .g-3 {
    padding: 20px 4%;
}

.g-2, .g-4 {
    @include breakpoint(max, 768) {
        .g-2, .g-4 {
            margin-right: 2%;
        }
    }
}

.g-2, .g-4, .g-5 {
    /* Sidebar column adverts */
    margin-bottom: 20px;

    @include breakpoint(max, 768) {
        .g-2, .g-4, .g-5 {
            float: left;
            width: 32%;
        }
    }

    @include breakpoint(smartphone) {
        float: none;
        margin-right: 0;
        width: 99%;
    }
}

.g-dyn {
    /* Dynamic adverts on rotation. AdRotate will toggle each g-dyn block in 
     * sequence, but they initially all need to be hidden. */
    display: none;
}

/* This is the actual advert div. Structure is:
 * 
 *  .tuarisic-advert
 *      a
 */

.tuairisc-advert {
    /* Background image is set via tuairisc_adrotate.js */
    @extend %cover-picture;
    @extend %border-box;
    margin: 0 auto;

    a {
        @extend %block;
    }
}