
/* 
 * Category Loop Posts
 * --------------------
 * The lead post on category pages has a different, bigger layout.
 * The placement of text and image are reversed.
 */

.post-image, .hero-image {
    /* Background image is set via PHP. */
    @extend %cover-picture;
}

.post-image-fallback {
    display: none;
}

.hero-image,
.hero-image a {
    height: 333px;
}

.post-image, .post-image a {
    width: 100px;
    height: 150px;
}

.post-image {
    float: left;
    margin-right: 15px;
    width: 200px;
}

.hero-image {
    float: right;
    width: 65%;
}

.hero-image a, .post-image a {
    display: block;
    width: 100%;
}

.hero-post {
    float: left;
    width: 33%;

    span:first-child {
        display: inline-block;
        margin-bottom: 5px;
    }
}

.hero-post p {
    font-size: center;
}

@media screen and (max-width: 768px) {
    .hero-post, .hero-image {
        float: none;
        width: 100%;
    }

    .hero-image {
        margin-bottom: 10px;
    }
}