/* 
 * Article Element Styles
 * ----------------------
 * Styles for articles and their child elements. WPZOOM is pretty disorganized 
 * when it comes to posts. <article>, <div class="entry"> and <div class="post">
 * are all used interchangably in different sections of the site. 
 *
 * WPZOOM is infected with divitis and classitis. Because the CSS is under a
 * proprietary license, I go to a good deal of effort here to reset the single
 * article style before I go on to add my own.
 * 
 * Several different article templates were in use around the site. I reduced
 * their number to six:
 * 
 * 1. article.full - ordinary full-sized article for single and page posts.
 * 2. article.archive - archive loop side-by-side post.
 * 3. article.leadarchive - the first archive post. Bigger and with sides reversed.
 * 4. article.lead - the lead article on the Tuairisc homepage.
 * 5. article.featured - secondary articles on the Tuairisc homepage. 
 * 6. article.jobarchive - job archive index post.
 */

// Archive width.
$archive-width-25: 25%;
$archive-width-35: 35%;
$archive-width-65: 65%;
$archive-width-75: 75%;
// Archive thumbnail heights.
$archive-article-thumb-height-170: 170px;
$archive-article-thumb-height-325: 325px;

/*
 * Article Reset
 * -------------
 * The Gazeti theme does odd things with articles. All of the rules in this 
 * section were written
 */

article {
    @extend %clearfix;
    box-sizing: border-box;
    border: 0;
    box-shadow: none;
    display: block;
    margin: 0;
    padding: 0;
    text-align: left;


    blockquote, li, p {
        a {
            color: $colour-green-anchor;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    blockquote, ol, p, pre, ul {
        color: #000;
        font: 16px $font-family-georgia;
        line-height: 150%;
        margin-bottom: $margin;
    }

    a img, blockquote, ol, p, pre, ul {
        margin-bottom: $margin;
    }

    div, img {
        height: auto;
        overflow: hidden;
        max-width: 100%;
    }

    header {
        background: none;
        margin: 0;
        padding: 0;
    }

    div.article-body {
        border: 0;
        box-sizing: border-box;
    }
}

.related_posts .title {
    color: #000;
}


/*
 * Article Header
 * --------------
 */

header {
    @extend %clearfix;

    .title {
        padding: 0;
    }

    div.excerpt {
        .more-link a {
            /* Remove 'read more' link from excerpt/description. */
            display: none;
        }

        p {
            color: $colour-grey-light-span;
        }
    }

    span, .article-author {
        color: #000;
        text-transform: none;

        a {
            color: inherit;
        }
    } 

    .article-author {
        font-weight: bold;
    }
}

/*
 * Article Content Body
 * --------------------
 */

div.article-body {
    blockquote {
        // Ciaran asked for a meticulously-styled blockquote area.
        background-image: 
            url('../images/quotation_open.svg'), 
            url('../images/quotation_close.svg');
        background-position: 
            -4% 4%, 
            104% 88%;
        background-origin: content-box;
        background-repeat: no-repeat;
        background-size: auto 25px;
        border-color: 1px solid $colour-grey-article-border;
        border-width: 1px 0;
        font-size: $font-size-18;
        font-style: italic;
        padding: 15px 30px;

        >:last-child {
            margin-bottom: 0;
        }
    }

    cite {
        color: $colour-grey-cite;
        display: block;
        font-style: none;
        font-weight: bold;
        font-size: 80%;
        width: 100%;

        &:before {
            content: ' -';
        }
    }
}

/*
 * WordPress Image Captions
 * ------------------------
 */

.wp-caption img {
    margin-bottom: $margin-10;
}

p.wp-caption-text {
    color: $colour-grey-light-span;
    font-size: $font-size;
    padding: 0;
    text-align: left;
}

/*
 * Full Single Post Article
 * ------------------------
 */

article.full {
    padding: 0 4% $padding 4%;

    header {
        margin-bottom: $margin-26;

        div.meta {
            @extend %clearfix;
            /* For legibility when its white-on-white. */
            border: 1px solid $colour-grey-article-border;
            border-width: 1px 0;
            padding: 9px 0;
        }

        div.avatar, div.text {
            float: left;
        }

        div.text {
            float: left;
            text-transform: initial;

            @include breakpoint(max, 1050) {
                float: none;
                margin-bottom: $margin;
            }
        }

        div.avatar {
            // background-image is set in single.php
            @extend %cover-picture;
            margin-right: 10px;
            @include flex_size(67px, 1);
        }

        h1.title {
            margin-bottom: $margin;
        }
    } 
}

/*
 * Job Archive Index Article 
 * -------------------------
 * The rules here are specific to job archive articles as they have a sligtly
 * different layout. Most of their position and sizing is set below in the
 * archives.
 */

article.jobarchive {
    header, .text, p {
        margin: 0;
    }

    span, h3 {
        font-family: $font-family-arial;
    }

    span {
        font: 12px $font-family-arial;
        text-transform: uppercase;
        padding: 3px 5px;
    }

    span.job-category {
        color: #fff;
        display: inline-block;
        margin-bottom: $margin-7;
        width: 100%;

        @include breakpoint(smartphone) {
            font-size: $font-size-16;
        }
    }

    span.more {
        background: $colour-grey-jobarchive-span;
        display: inline-block;
        padding: 2px 5px;
    }

    div.article-body p, .more {
        margin-top: $margin-7;
    }
}

/*
 * Archive Articles
 * ----------------
 * Archive articles have two styles:
 * 
 * 1. Thumbnail is 25% width and 170px height.
 * 2. Lead article thumbnail is 65% width and 325px height. This excludes job
 *    articles.
 */

.article-thumb {
    @extend %cover-picture;

    @include breakpoint(smartphone) {
        margin-bottom: $margin-7;
    }

    a {
        display: block;
        height: inherit;
        width: 100%;
    }
}

#recent-posts article {
    padding-bottom: $margin-26;
    @include webkit_value(display, flex);
    @include webkit(flex-direction, row);

    @include breakpoint(smartphone) {
        @include webkit_value(display, block);
    }

    &:not(:last-child) {
        border-bottom: 1px solid $colour-grey-light-span;
        margin-bottom: $margin-26;
    }

    header {
        margin-bottom: $margin;        
    }
}

#recent-posts article:nth-child(1):not(.jobarchive) {
    /* Lead article has a reversed layout. This does not apply to a job article.
     * Job articles do not reverse. */
    @include webkit(flex-direction, row-reverse);

    >:first-child {
        @include webkit(flex, 0 1 $archive-width-65); 
    }

    >:last-child {
        padding-bottom: $padding;

        @include breakpoint(smartphone) {
            padding: 0;
        }
    }

    .article-thumb {
        height: $archive-article-thumb-height-325;
    }
}

#recent-posts article {
    // Non-first-child articles.
    >:first-child {
        @include webkit(flex, 0 1 $archive-width-25);
    }

    >:last-child {
        padding: 0 0 0 $margin;
        @include webkit(flex, 1); 

        @include breakpoint(smartphone) {
            padding: 0;
        }
    } 

    .article-thumb {
        height: $archive-article-thumb-height-170;
    }
}

/*
 * Homepage Lead Article 
 * ---------------------
 * This is the hero article on the site, the first one that you see when the 
 * page loads. 
 */

article.lead {
    border-bottom: 1px solid $colour-grey-dark-border;
    margin-bottom: $margin-26;
    padding-bottom: $margin-26;

    h1 {
        margin: 0;
    }

    h3 {
        display: inline-block;

        &:after {
            content: ', ';
            padding-right: 5px;

            @include breakpoint(smartphone) {
                display: none;
            }
        }

        @include breakpoint(smartphone) {
            display: block;
        }
    }

    div.article-thumb {
        margin-bottom: $margin; 
        @include flex_size(100%, 0.5);

        a {
            @include flex_size(100%, 0.5);
        }
    }

    div.article-body p {
        margin: 0;
    }
}