/* 
 * Article Element Styles
 * ----------------------
 * Styles for articles and their child elements. WPZOOM is pretty disorganized 
 * when it comes to posts. <article>, <div class="entry"> and <div class="post">
 * are all used interchangably in different sections of the site. 
 *
 * WPZOOM is infected with divitis and classitis. Because the CSS is under a
 * proprietary license, I go to a good deal of effort here to reset the single
 * article style before I go on to add my own.
 * 
 * Several different article templates were in use around the site. I reduced
 * their number to six:
 * 
 * 1. article.full - ordinary full-sized article for single and page posts.
 * 2. article.archive - archive loop side-by-side post.
 * 3. article.leadarchive - the first archive post. Bigger and with sides reversed.
 * 4. article.lead - the lead article on the Tuairisc homepage.
 * 5. article.featured - secondary articles on the Tuairisc homepage. 
 * 6. article.jobarchive - job archive index post.
 */

.related_posts .title {
    color: #000;
}

article {
    @extend %clearfix;
    @extend %border-box;
    @extend %zero;
    border: 0;
    box-shadow: none;
    display: block;
    text-align: left;

    blockquote, li, p {
        a {
            color: $wpzoom_anchor;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    blockquote, ol, p, pre, ul {
        color: #000;
        font: 16px $font_georgia;
        line-height: 150%;
        margin-bottom: $bottom_default;
    }

    div.article-thumb {
        @extend %cover-picture;
    }

    header {
        @extend %clearfix;
        @extend %zero;
        background: none;

        .title {
            padding: 0;
        }

        div.excerpt {
            .more-link a {
                /* Remove 'read more' link from excerpt/description. */
                display: none;
            }

            p {
                color: $span_grey;
            }
        }

        span, .article-author {
            color: #000;
            text-transform: none;

            a {
                color: inherit;
            }
        } 

        .article-author {
            font-weight: bold;
        }
    }

    div.article-body {
        @extend %border-box;
        @extend %clearfix;
        border: 0;

        blockquote {
            background-image: url('../images/quotation_open.svg'), url('../images/quotation_close.svg');
            background-position: -4% 4%, 104% 88%;
            background-origin: content-box;
            background-repeat: no-repeat;
            background-size: auto 25px;
            border-color: 1px solid #f1f1f1;
            border-width: 1px 0 1px 0;
            font-size: 18px;
            font-style: italic;
            padding: 15px 30px;

            cite {
                color: #444;
                display: block;
                font-style: none;
                font-weight: bold;
                font-size: 80%;
                width: 100%;

                &:before {
                    content: ' -';
                }
            }

            >:last-child {
                margin-bottom: 0;
            }
        }

        div, img {
            height: auto;
            overflow: hidden;
            max-width: 100%;
        }

        .wp-caption img {
            margin-bottom: 10px;
        }

        p.wp-caption-text {
            color: $span_grey;
            font-size: 14px;
            padding: 0;
            text-align: left;
        }
    }
}

article.full {
    padding: 0 4% $bottom_default 4%;

    header {
        margin-bottom: $bottom_default * 2;

        div.meta {
            @extend %clearfix;
            /* For legibility when its white-on-white. */
            border: 1px solid #f1f1f1;
            border-width: 1px 0;
            padding: 9px 0;
        }

        div.avatar, div.text {
            float: left;
        }

        div.text {
            float: left;
            text-transform: initial;

            @include breakpoint(max, 1050) {
                float: none;
                margin-bottom: $bottom_default;
            }
        }

        div.avatar {
            /* background-image is set in single.php */ 
            @extend %cover-picture;
            margin-right: 10px;
            @include flex_size(67px, 1);
        }

        h1.title {
            margin-bottom: $bottom_default;
        }

        ul.mshare {
            float: right;

            @include breakpoint(max, 1050) {
                float: left;
            }
        }
    } 

    div.article-body {
        ul.mshare {
            margin-bottom: $bottom_default;

            li {
                float: right;
                display: inline-block;
            }
        }
    }
}

article.archive {
    padding-bottom: $bottom_default * 2;

    &:not(:last-child) {
        border-bottom: 1px solid $border_grey;
        margin-bottom: $bottom_default * 2;
    }

    header {
        margin-bottom: $bottom_default;        
    }

    div.article-thumb {
        float: left;
        width: 200px;

        a {
            @include flex-size(100%, 1);
        }
    }

    div.article-body {
        float: right;
        width: calc(100% - 215px);
    }

    div.excerpt p {
        margin: 0;
    }
}

article.jobarchive {
    header, .text, p {
        margin: 0;
    }

    span, h3 {
        font: $font_arial;
    }

    span {
        font: 12px $font_arial;
        text-transform: uppercase;
        padding: 3px 5px;
    }

    span.job-category {
        @extend %border-box;
        color: #fff;
        display: inline-block;
        margin-bottom: $bottom_default * 0.5;
        width: 100%;

        @include breakpoint(smartphone) {
            font-size: 16px;
        }
    }

    span.more {
        background: #d2d3d5;
        display: inline-block;
        padding: 2px 5px;
    }

    div.category {
        float: left;
        margin: 0;
        width: 15%;
    }

    div.article-thumb {
        @include flex_size(100%, 1);

        a {
            @include flex_size(100%, 1);
        }
    }

    div.article-body {
        float: right;
        width: 83%;
    }

    div.article-body p, .more {
        margin-top: $bottom_default * 0.5;
    }

    div.article-body, div.category {
        @include breakpoint(smartphone) {
            float: none;
            width: 100%;
        }
    }
}

article.archive, article.jobarchive {
    padding-bottom: $bottom_default * 2;

    &:not(:last-child) {
        border-bottom: 1px solid $border_grey;
        margin-bottom: $bottom_default * 2;
    }
}

article.leadarchive {
    div.article-thumb {
        float: right;
        height: 325px;
        margin-bottom: $bottom_default;
        padding: 0;
        width: 65%;

        a {
            height: 325px;
            padding: 0;
            width: 100%;
        }
    }

    div.article-body {
        float: left;
        width: calc(35% - 15px);
    }
}

article.archive, article.leadarchive {
    div.article-thumb, div.article-body {
        @include breakpoint(smartphone) {
            float: none;
            width: 100%;
        }
    }
}

article.lead {
    border-bottom: 1px solid $border_black;
    margin-bottom: $bottom_default * 2;
    padding-bottom: $bottom_default * 2;

    header {
        margin-bottom: $bottom_default * 0.5; 

        h1 {
            margin: 0;
        }

        h3 {
            display: inline-block;

            &:after {
                content: ', ';
                padding-right: 5px;

                @include breakpoint(smartphone) {
                    display: none;
                }
            }

            @include breakpoint(smartphone) {
                display: block;
            }
        }
    }

    div.article-thumb {
        padding: 0;
        width: 100%;

        @include flex_size(100%, 0.5);

        a {
            @include flex_size(100%, 0.5);
        }
    }

    div.article-body {
        float: none;
        width: 100%;

        p {
            margin: 0;
        }
    }
}

article.featured {
    box-sizing: border-box;
    display: inline-block;
    float: left;
    margin-bottom: $bottom_default;
    padding: 0 10px;
    width: 50%;

    &:first-child {
        @include breakpoint(max, 950) {
            padding-left: 0;
        }
    }

    &:last-child {
        @include breakpoint(max, 950) {
            padding-right: 0;
        }
    }
}