/* 
 * Category Header Banners
 * ------------------------
 * Each category has a custom #header bannner.
 * Children have the same colour as the parent.
 * Colours are set via PHP. 
 * 
 * See: gazeti/functions/user/functions.php
 */

.breadcrumb-banner {
    background-color: #000;
    margin-bottom: $margin;
    padding: $padding-7 0;  

    a {
        color: #fff;
        font-family: $font-family-georgia;
        letter-spacing: 1px;
        text-transform: uppercase;

        &:nth-child(1) {
            // Parent category in breadcrumb.
            font-size: $font-size-18;
            margin-left: $margin;
        }

        &:nth-child(2):before {
            // Separation chevron.
            content: '» ';
            font-size: $font-size-22;
        }

        &:nth-child(3) {
            // Child category in breadcrumb.
            font-size: $font-size-10;
        }
    }
}

@each $item, $list in $category_colours {
    .category-#{$item} {
        background-color: nth($list, 1);
    }
}

/* 
 * Wider Banner for Greann Category (158) 
 * --------------------------------------
 * The Greann category (158) must be taller in order to separate content. 
 */

.banner-greann {
    @extend %clearfix;
    background-image: url($assets-folder + '/asnc_logo.svg');
    background-position: 10px center;
    background-repeat: no-repeat;
    background-size: auto 60px;
    min-height: 60px;
    padding: $margin 0;

    @include breakpoint(smartphone) {
        background-size: auto 33px;
    }

    span {
        // Greann banner.
        color: #fff;
        display: inline-block;
        float: right;
        font-family: $font-family-arial;
        font-size: $font-size;
        margin: $margin-10 $margin 0 0;
        text-align: right;

        &::first-line {
            font-weight: bold;
        }
    }
}