/* 
 * Footer Block
 * ------------
 * The #footer block and its many children.
 */

%footer-text {
    color: #000;
    font: 11px $font_arial;
    line-height: $bottom-margin-19;
}

#footer {
    background: #fff left bottom/auto 65px no-repeat url('../images/rainbow_footer.svg');
    height: auto;
    /* The site is unbalanced. */
    margin-bottom: 0;
    padding: 0 4% $bottom-margin-65 4%;

    @include breakpoint(smartphone) {
        background-image: none;
        padding-bottom: $bottom-margin-26;
    }

    a {
        color: inherit;
    }

    .interior {
        border-top: 1px solid #f1f1f1;
        padding-top: 20px;
    }
}

.carousel-slider {
    margin-bottom: 30px;
}

/* 
 * Copyright Block
 * ----------------
 * Privacy policy, copyright and all that other good stuff.
 */

.copyright {
    padding: 0;

    p {
        font-size: 14px;
        margin-bottom: 0;
    }
}

/* 
 * Footer Widgets and Columns 
 * --------------------------
 * Footer widgets are arranged into four columns. These rules override the fixed
 * default styles.
 */

.widget-area {
    width: 100%;
    @include prefix_value(display, flex);
    @include prefix(flex-direction, row);
    @include prefix(flex-wrap, nowrap);

    @include breakpoint(smartphone) {
        @include prefix(flex-direction, column);
        margin-bottom: 20px;
    }

    .widget {
        float: none;
        min-height: 1px;
        width: initial;
        @include prefix(flex, 1);
    }
}

/* 
 * Foras na Gaeilge Attribution Link
 * ---------------------------------
 * Foras na Gaeilge are a major sponsor of Tuairisc Nuacht. The sky /will/ fall
 * down if this link is ever removed.
 */

.foras-attribution {
    background: center center/100% auto no-repeat url('../images/foras_na_gaeilge_logo.png');
    margin: 0 auto;
    @include flex_size(100px, 0.8);
    display: block;

    a {
        @include flex_size(100%, 1);
    }
}