/* 
 * Header Block
 * ------------ 
 * The #header block and its many children. 
 */

#header {
    /* Override gradient on #header. */ 
    @extend %clearfix;
    background: #fff center top/auto 6px no-repeat border-box url('../images/rainbow_strip.svg');
    margin-bottom: $bottom_default * 2;
    padding: $bottom_default * 2 4% 0 4%;
    position: relative;

    .share-search {
        @extend %clearfix;
        bottom: 0;
        margin-right: 4%;
        right: 0;
        position: absolute;
        width: auto;

        > * {
            float: right;
            margin-left: $bottom_default * 0.5;

            @include breakpoint(smartphone) {
                float: left;
                margin-left: 0;
                margin-bottom: $bottom_default * 0.5;
            }
        }

        @include breakpoint(max, 775) {
            float: left;
            margin-right: 0;
            padding-top: $bottom_default * 1.5;
            position: initial;
            width: auto;
        }
    }

    #logo {
        a {
            @extend %block;
            font-size: 10px;
            line-height: initial;
        }

        img {
            /* Site logo. */ 
            max-height: 45px;
            width: auto;
        }
    }

    .search_form {
        /* This had godawful stock CSS. They floated the child inside the parent, 
         * instead of floating the parent. */
        width: 278px;
    }

    #searchform {
        @extend %zero;
        border-radius: 0;
        float: none;
        width: 100%;
    }
}
