/* 
 * Header Block
 * ------------ 
 * The #header block and its many children. 
 */

#header {
    /* Override gradient on #header. */ 
    @extend %clearfix;
    background: #fff center top/auto 6px no-repeat border-box url($background-rainbow-strip);
    box-sizing: border-box;
    margin-bottom: $margin-26;
    min-height: 70px;
    padding: $padding-26 4% 0 4%;
    position: relative;
    width: 100%;

    @include media(smartphone) {
        min-height: 0;
        position: initial;
        width: auto;
    }

    @include media(print) {
        background: none;
        margin-bottom: 0;
        padding: 0 20px;
    }

    .share-search {
        @extend %clearfix;
        bottom: 0;
        margin-right: 4%;
        right: 0;
        position: absolute;
        width: auto;

        > * {
            float: right;
            margin-left: $margin-7;

            @include media(smartphone) {
                float: left;
                margin-left: 0;
                margin-bottom: $margin-7;
            }
        }

        @include media(smartphone) {
            float: left;
            position: initial;
        }

        @include media(print) {
            display: none;
        }
    }

    #logo {
        bottom: 0;
        position: absolute;

        @include media(smartphone) {
            display: inline-block;
            position: initial;
            margin-bottom: $margin;
        }

        a {
            display: block;
            font-size: 10px;
            height: 100%;
            line-height: initial;
            width: 100%; 
        }

        img {
            /* Site logo. */ 
            max-height: 45px;
            width: auto;
        }
    }

    .search_form {
        /* This had godawful stock CSS. They floated the child inside the parent, 
         * instead of floating the parent. */
        width: 278px;

        @include media(smartphone) {
            margin-bottom: $margin;
        }
    }

    #searchform {
        border-radius: 0;
        float: none;
        margin: 0;
        padding: 0;
        width: 100%;
    }
}