
/* Homepage Featured Post
 * ---------------------- */

.featured-main {
    @include breakpoint(max, 950) {
        padding-bottom: 0;
    }
}

%featured-float {
    float: left;
    width: 50%;   
}

.tuairisc-featured-row {
    @extend %clearfix;
}

.tuairisc-featured-row .tuairisc-featured-block, .featured-main .hero-image, .featured-main .post-content {
    @include breakpoint(max, 950) {
        float: none;
        width: 100%;
    }
}

.tuairisc-featured-block {
    @extend %clearfix;
    @extend %featured-float;

    article {
        @extend %featured-float;
        box-sizing: border-box;
        display: inline-block;
        margin-bottom: 15px;
        padding: 0 10px;
        width: 50%;

        &:first-child {
            @include breakpoint(max, 950) {
                padding-left: 0;
            }
        }

        &:last-child {
            @include breakpoint(max, 950) {
                padding-right: 0;
            }
        }
    }

    &:first-child > article:first-child {
        padding-left: 0;
    }

    &:last-child > article:last-child {
        padding-right: 0;
    }
}

.tuairisc-featured-thumb {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    height: 125px;
    margin-bottom: 5px;
    width: 100%;

    a {
        @extend %block;
    }
}
