/*
 * Foluntais
 * ---------
 * Job and event listings archive page.
*/

#foluntais-listings {
    width: 100%;

    article {
        border-bottom: 1px solid #f0f0f0;
        border-top: 1px solid #f0f0f0;
        padding: 15px 0;
    }

    p, .recent-meta {
        margin-bottom: 7px;
    }

    p {
        font-size: 16px;
        line-height: 17px;
    }
 
    .read-more {
        background-color: #d2d3d5;
        font-size: 12px;
        letter-spacing: 0;
        text-decoration: none;
    }

    .entry {
        padding: 0;
    }

    .left span, .read-more {
        padding: 3px 5px 3px 5px;
        text-transform: uppercase;
    }

    .left {
        float: left;
        width: 15%;

        @include breakpoint(smartphone) {
            margin-bottom: $bottom_default * 0.5;
        }

        span {
            background: #000;
            color: #fff;
            display: block;
            font-size: 12px;
            margin-bottom: $bottom_default;
        }
    }

    .right {
        float: right;
        width: 83%;
    }

    .left, .right {
        @include breakpoint(smartphone) {
            float: none;
            width: 100%;
        }
    }

    .post-thumb {
        @include breakpoint(smartphone) {
            display: none;
        }

        img {
            height: auto;
            max-width: 100%;
        }
    }
}
