/*
 * Site Menu
 * ---------
 * This section entirely deals with the responsive layout of the site's main 
 * nav menu.
 */

nav {
    padding: $padding-sections;
}

#menu {
    @include breakpoint(portrait) {
        padding: 0;
    }
}

ul#menu {
    /*
     * Main Site Navigation
     * --------------------
     * The navigation menu has two-and-a-half states:
     * 
     * 1. Horizontal list, left aligned, on desktops.
     * 2. Horizontal list, center aligned, on tables.
     * 3. Horizontal list, no dropdowns, fixed on top, on smartphones.
     */

    list-style-type: none;

    @include breakpoint(smartphone) {
        left: 0;
        margin: 0;
        padding: 0;
        overflow-x: scroll;
        padding: 0;
        position: fixed;
        right: 0;
        top: 0;
        white-space: nowrap;
        z-index: 3;
    }

    @include breakpoint(portrait) {
        text-align: center;
    }

    a {
        box-sizing: border-box;
        color: #fff;
        display: inline-block;
        font: $font-size-16 $font-family-arial;
        line-height: 24px;
        padding: 10px;
        white-space: nowrap;

        @include breakpoint(portrait) {
            font-size: $font-size;
            padding: 10px 4px;
        }

        @include breakpoint(smartphone) {
            line-height: 32px;
            padding: 10px 6px;
        }
    }

    li {
        display: inline-block;
        position: relative;

        &:not(:last-child):after {
            content: '|';
            color: $colour-green-anchor;
            display: inline-block;
            font-size: $font-size;
        }

        &:hover {
            > a {
                background-color: $colour-blue-navigation;
                color: #fff;
            }

            ul {
                display: block;

                @include breakpoint(smartphone) {
                    display: none;
                }
            }
        }

        li {
            display: block;

            &:not(:last-child):after {
                display: none;

                @include breakpoint(smartphone) {
                    font-size: $font-size-25;
                }
            }

            &:hover {
                background-color: $colour-blue-navigation;

            }

            &:hover a {
                color: #fff;
                background-color: transparent;
            }

            a {
                padding: 7px 10px;
                width: 100%;
            }
        }
    }

    ul {
        background-color: #000;
        display: none;
        list-style-type: none;
        position: absolute;
        width: 200px;
        z-index: 6;

        @include breakpoint(portrait) {
            text-align: left;
        }
    }

    .submenu-indicator {
        &:after {
            color: $colour-green-anchor;
            content: ' ▼';
            font-size: 52%;

            @include breakpoint(smartphone) {
                display: none;
            }
        }
    }
}