
/* Tables
 * ------
 * Needed for tables to display correctly. 
 */

table.tg {
    margin-bottom: $margin;
    width: 100%;

    a {
        text-decoration: none;
    }
}

/* 
 * Headline Stylings
 * -----------------
 */

h2 {
    font-size: $font-size-20;
}

h3 {
    color: #999;
    font-size: $font-size-16;
}

/*
 * Content Wrappers
 * ----------------
 */

.content-wrap {
    /* Make #header strip regardless of whether #header advert group is blocked. */
    background: center bottom/auto 6px no-repeat border-box url($background-rainbow-strip);
    padding: $margin-19 4% 0 4%;

    @include media(smartphone) {
        padding-top: 0;
    }
}

.inner-wrap {
    /* Stock colour is grey. */
    background-color: #fff;

    @include media(smartphone) {
        padding-top: 40px;
    }
}

/*
 * Miscellaneous Rules
 * -------------------
 * These are one-line fixes to fix quirks in the Gazeti theme.
 */

.caroufredsel_wrapper {
    /* Carousel wrapper occasionally wigs out in a bad way because it goes by
     * parent height as set by jQuery, and sometimes runs before images load. */
    min-height: 200px;
}

#respond {
    .form_fields input, #comment {
        box-sizing: border-box;
        width: 100%;
    } 

    textarea {
        width: 98%
    }
}

span.date {
    text-transform: none;
}

#slides li {
    @extend %clearfix;
}

.feature-post-text {
    float: right;
    width: calc(100% - 90px);
}

#report {
    margin-bottom: $margin;
}

.recent-meta span {    
    font-size: 14px;
}

#slider_nav {
    .item, .item.current a {
        font-size: $font-size-16;

        &:hover {
            color: #000;
            font-weight: normal;
        }
    }
}

.slide_content_holder {
    /* Posts slider on front page. */
    bottom: 10px;
}