/*
 * Generic Rules, Button Rules and Other Useful Partials
 * -----------------------------------------------------
 * This file represents bits and pieces of code that I use across the site which
 * aren't attached to a given section of the site. 
*/

/*
 * Shadows and Gradients
 * ---------------------
 */

%smooth-gradient {
    // Gradient via http://www.colorzilla.com/gradient-editor/
    background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); 
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); 
    background: -o-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); 
    background: -ms-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); 
    background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); 
}

%noselect {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

%top-box-shadow {
    // Add a box shadow to the top of an element.
    -webkit-box-shadow: 0 0 60px 20px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 60px 20px rgba(0,0,0,0.75);
    box-shadow: 0 0 60px 20px rgba(0,0,0,0.75);    
}

%no-box-shadow {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/*
 * Assorted Helper Classes
 * -----------------------
 */

%cover-picture {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; 
}

%border-box {
    /* ALL GLORY TO THE BORDER BOX-this is used across the site in a great many
     * spots where I need to pad an element without increasing the size. */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

%clearfix {
    /* Bulletproof and Rock-Solid self-clearing float. You can tell it is both
    * Bulletproof and Rock-Solid since I capitalized the words. There are very
    * rare instances were I might need to use a clearing element (such as 
    * splitting floating elements vertically). */
    overflow: auto;

    &:after {
        clear: both;
        content: '';
        display: table;
    }
}

%block {
    display: block;
    height: 100%;
    width: 100%;
}

%zero {
    // There are a few cases where I need to zero the margin and padding of the
    // the child of a parent with both.  
    margin: 0;
    padding: 0;
}

/* 
 * Flexible Columns
 * ----------------
 * Used in the site's footer. These ultimately weren't used on the index page as
 * the final layout was rather convoluted. 
*/

.split {
    @extend %clearfix;
}

%split {
    @extend %border-box;
    float: left;
    height: 100%;
    padding-right: $bottom_default;

    &:last-child {
        padding-right: 0;
    }
}

.twothirds, .onethird, .quarter, .half, .onefifth {
    @extend %split;
}

.twothirds {
    width: 66%;
}

.onethird {
    width: 33%;
}

.quarter {
    width: 25%; 
}

.half {
    width: 50%;
}

.onefifth {
    width: 66%;
}

/*
 * Text Element Columns
 * --------------------
 */

.text-two {
    @include columns(2, 20px);
}

.text-three {
    @include columns(3, 20px);
}

.text-four {
    @include columns(4, 20px);
}