/*
 * Generic Rules, Button Rules and Other Useful Partials
 * -----------------------------------------------------
 * This file represents bits and pieces of code that I use across the site which
 * aren't attached to a given section of the site. 
*/

/*
 * Shadows and Gradients
 * ---------------------
 */

%smooth-gradient {
    // Gradient via http://www.colorzilla.com/gradient-editor/
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); 
    @include prefix_value(background, inear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%));
}

%noselect {
    cursor: default;
    @include prefix(user-select, none);
}

%top-box-shadow {
    // Add a box shadow to the top of an element.
    @include prefix(box-shadow, 0 0 60px 20px rgba(0,0,0,0.75));
}

%no-box-shadow {
    @include prefix(box-shadow, none);
}

/*
 * Assorted Helper Classes
 * -----------------------
 */

%cover-picture {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; 
}

%border-box {
    /* ALL GLORY TO THE BORDER BOX-this is used across the site in a great many
     * spots where I need to pad an element without increasing the size. */
    @include prefix(box-sizing, border-box);
}

%clearfix {
    /* Bulletproof and Rock-Solid self-clearing float. You can tell it is both
    * Bulletproof and Rock-Solid since I capitalized the words. There are very
    * rare instances were I might need to use a clearing element (such as 
    * splitting floating elements vertically). */
    overflow: auto;

    &:after {
        clear: both;
        content: '';
        display: table;
    }
}

%block {
    display: block;
    height: 100%;
    width: 100%;
}

%zero {
    // There are a few cases where I need to zero the margin and padding of the
    // the child of a parent with both.  
    margin: 0;
    padding: 0;
}

/*
 * Text Element Columns
 * --------------------
 */

.text-two {
    @include columns(2, 20px);
}

.text-three {
    @include columns(3, 20px);
}

.text-four {
    @include columns(4, 20px);
}