
/*
    Nav Menu Social Links
    ----------------------
    The stock widgets look like crap. These layout better,
    don't hog the site or break layout when the page is 
    resized. 

    Triggered to hide at mobile sizes. The rationale is that
    the links will open in a browser, but not the native 
    applications. So there is fundamentally no reason to show them.

    The menu takes the form of a horizontal ul.
    Just drop in links as so:

    <ul class="mshare">
        <li><a class="email" href="#"></a></li>
        ...
        <li><a class="youtube" href="#"></a></li>
    </ul>
 */

$social: (
    comments: (#30b351, '../images/social/comments.png'),
    email: (#f5756c, '../images/social/email.png'),
    facebook: (#3B5998, '../images/social/facebook.png'),
    flickr: (#ff0084, '../images/social/flickr.png'),
    github: (#666666, '../images/social/github.png'),
    google: (#dd4b39, '../images/social/google.png'),
    instagram: (#3f729b, '../images/social/instagram.png'),
    linkedin: (#0976b4, '../images/social/linkedin.png'),
    pinterest: (#cc2127, '../images/social/pinterest.png'),
    print: (#007aaf, '../images/social/print.png'),
    reddit: (#ff5700, '../images/social/reddit.png'),
    rmwb: (#343537, '../images/social/beard.png'),
    rss: (#ff6600, '../images/social/rss.png'),
    tumblr: (#35465c, '../images/social/tumblr.png'),
    twitter: (#55acee, '../images/social/twitter.png'),
    youtube: (#b31217, '../images/social/youtube.png')
);

ul.mshare {
    @each $value, $key in $social {
        .#{$value} {
            background-color: nth($key, 1);
            background-image: url(nth($key, 2));
        }
    }
}

ul.mshare {
    @extend %zero;
    list-style-type: none;

    li {
        float: left;
        line-height: initial;
        height: $button_size;
        margin-right: 2px;
        width: $button_size;
    }

    a {
        @extend %block;
        background-size: 90% auto;
        background-repeat: no-repeat;
        background-position: center center;
        border-radius: 3px;
    }
}