
/*
    Nav Menu Social Links
    ----------------------
    The stock widgets look like crap. These layout better,
    don't hog the site or break layout when the page is 
    resized. 

    Triggered to hide at mobile sizes. The rationale is that
    the links will open in a browser, but not the native 
    applications. So there is fundamentally no reason to show them.

    You can choose from:

    Colour      Class       Service
    -------------------------------
    #f5756c     .email      Email
    #3b5998     .facebook   Facebook     
    #ff0084     .flickr     Flickr
    #333        .github     GitHub
    #dd4b39     .google     Google+
    #3f729b     .instagram  Instagram
    #0976b4     .linkedin   LinkedIn
    #cc2127     .interest   Pinterest
    #35465c     .tumblr     Tumblr
    #55acee     .twitter    Twitter
    #b31217     .youtube    YouTube

    The menu takes the form of a horizontal ul.
    Just drop in links as so:

    <ul class="mshare">
        <li><a class="email" href="#"></a></li>
        ...
        <li><a class="youtube" href="#"></a></li>
    </ul>
 */

%mshare-pos {
    @extend %zero;
    line-height: initial;
    overflow: auto;
}

#header {
    .mshare {
        float: right;
        margin-right: 5px;
        padding-top: 27px;

        li, a {
            height: 33px; 
            width: 33px;
        }
    }
}

ul.mshare {
    @extend %mshare-pos;
    float: right;

    li, a {
        @extend %mshare-pos;
        height: 30px;
        width: 30px;
    }

    li {
        display: inline;
        list-style-type: none;
        margin-right: 2px;
    }

    a {
        background-size: 90% auto;
        background-repeat: no-repeat;
        background-position: center center;
        border-radius: 3px;
        display: inline-block;
    }

    .comments { 
        background-color: #30b351;
        background-image: url('images/social/comments.png'); 
    }

    .email { 
        background-color: #f5756c;
        background-image: url('images/social/email.png'); 
    }

    .facebook { 
        background-color: #3B5998;
        background-image: url('images/social/facebook.png');
    }

    .flickr { 
        background-color: #ff0084;
        background-image: url('images/social/flickr.png');
    }

    .github { 
        background-color: #333;
        background-image: url('images/social/github.png');
    }

    .google { 
        background-color: #dd4b39;
        background-image: url('images/social/google.png');
    } 

    .instagram { 
        background-color: #3f729b;
        background-image: url('images/social/instagram.png');
    } 

    .linkedin { 
        background-color: #0976b4;
        background-image: url('images/social/linkedin.png');
    } 

    .pinterest { 
        background-color: #cc2127;
        background-image: url('images/social/pinterest.png');
    } 

    .print { 
        background-color: #007aaf;
        background-image: url('images/social/print.png');
    } 

    .reddit {
        background-color: #ff5700;
        background-image: url('images/social/reddit.png');
    }

    .rss { 
        background-color: #ff6600;
        background-image: url('images/social/rss.png');
    } 

    .tumblr { 
        background-color: #35465c;
        background-image: url('images/social/tumblr.png');
    } 

    .twitter { 
        background-color: #55acee;
        background-image: url('images/social/twitter.png');
    } 

    .youtube { 
        background-color: #b31217;
        background-image: url('images/social/youtube.png');
    }
}