/*
 * Sitewide Social Links
 * ---------------------
 */

$social-button-size: $margin * 2.5;

ul.mshare {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        float: left;
        line-height: initial;
        margin-right: 2px;
        @include flex_size($social-button-size, 1);
    }

    a {
        @extend %cover-picture;
        background-size: 90% auto;
        border-radius: 3px;
        display: block;
        @include flex_size(100%, 1);
    }

    @each $child, $list in $social-buttons {
        .#{$child} {
            background-color: nth($list, 1);
            background-image: url(nth($list, 2));
        }
    }
}

article {
    ul.mshare {
        float: right;

        @include breakpoint(max, 1050) {
            float: left;
        }
    }

    div.article-body ul.mshare {
        // Position footer share menu differently.
        margin-bottom: $margin;

        li {
            display: inline-block;
            float: right;
        }
    }
}