/*
 * Fonts
 * -------
 */

$font_georgia: Georgia, Times, "Times New Roman", serif;
$font_arial: arial, "helvetica neue", helvetica, sans-serif;

/*
 * Colours
 * -------
 */

$wpzoom_anchor: #95c37c;
$charcoal_grey: #87888a;
$nav_blue: #506572;
$border_grey: #ececec;
$border_black: #333;
$span_grey: #999;

/*
 * Margins and Sizes
 * -----------------
 */

$bottom_default: 13px;
$button_size: $bottom_default * 2.5;
$homepage_breakpoint: 950;

/*
 * Partials and Mixins 
 * -------------------
 */

@import 'mixins';
@import 'partials';

/* 
 * Self-clearing Floats 
 * --------------------
 * WPZOOM's use of <div class="clear"></div> should be classed as a crime 
 * against humanity.
 */

.self-clear {
    @extend %clearfix;
}

/*
 * Imports
 * ------- 
 */

// Website header. 
@import 'header';
// Website nav menu.
@import 'menu';
// AdRotate adverts.
@import 'adverts';
// Banenrs for single posts and archives. 
@import 'banners';
// Education category articles.
@import 'education';
// Website home page.
@import 'home';
// Social sharing links.
@import 'sharing';
// Articles.
@import 'article';
// Website footer. 
@import 'footer';
// Tweaks for plugins that Tuairisc use.
@import 'plugins';
// WPZOOM and Tuairisc widgets.
@import 'widgets';
// Miscellaneous styling rules.
@import 'misc';

/*
 * Print Queries
 * -----------------------
 * This should _always_ come after all other rules.
 */

@import 'print';