/*
 * Custom Stylesheet
 * -----------------
 * You can place your custom CSS statements in this file, after this message.
 * It is better to write everything custom here
 * because this file won't be replaced during updates.
 * 
 * Simply copy an existing style from style.css to this file, 
 * and modify it to your liking.
 */

/*
 Useful generic smartphone media query: 

@media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 736px) 
    and (orientation: portrait),
only screen
    and (min-device-width: 320px) 
    and (max-device-width: 736px) 
    and (orientation: landscape) {

/*
 * Fonts
 * -------
 */

$font_georgia: Georgia, Times, "Times New Roman", serif;
$font_arial: arial, "helvetica neue", helvetica, sans-serif;

/*
 * Colours
 * -------
 */

$education_0: #424045;
$education_1: #c44b54;
$education_2: #7c5c91;
$education_3: #c9ab5f;
$education_4: #89b0d4;
$education_5: #e34284;
$education_download: #d2d3d5;
$wpzoom_anchor: #95c37c;

$charcoal_grey: #87888a;
// Nav menu.
$nav_blue: #506572;

/*
 * Margins
 * -------
 */

$bottom_default: 16px;

/*
 * Partials and Mixins 
 * -------------------
 */

@import 'mixins';
@import 'partials';

/*
 * General Rules
 * Rules for bits and pieces across the Tuairisc site that don't really require
 * their own space. 
 */

/* Font Selectors
 * --------------
 * Who doesn't love Georgia? */

.entry .wp-caption-text, .post-heading p, #foluntais-listings p,
#foluntais-listings h3, .popular-text a, .breadcrumb-banner a, 
.entry blockquote {    
    font-family: $font_georgia;
}

a.download-link, .modal-box a, #foluntais-listings span, 
.breadcrumb-banner span {    
    font: 14px $font_arial;
}

.popular-text a:hover {
    color: $wpzoom_anchor;
}

/* Self-clearing Floats 
 * --------------------
 * WPZOOM's use of <div class="clear"></div> should be classed as a 
 * crime against humanity. */

.self-clear {
    @extend %clearfix;
}

/* I need to replace the below... */

.widget-area, .feature-posts-list, .feature-posts-list li,
.breadcrumb-banner, .post-meta, #slides li {
    @extend %clearfix;
}

/* Tables
 * ------
 * Needed for tables to display correctly. */

table.tg {
    margin-bottom: 14px;
    width: 100%;

    a {
        text-decoration: none;
    }
}

/* 
 * General Site Stylings
 * ---------------------
 * General stylings for generic parts of the site, as directed by
 * Aidan, Ciaran or Sean.
 */

h2 {
    /* Requested by Ciaran. */
    font-size: 20px;
}

h3 {
    /* Requested by Adian. */
    color: #999;
    font-size: 16px;
}

.galleria-info-title {
    display: none;
}

#bwg_container1_0 {
    /* The gallery insert doesn't have a bottom margin. */
    margin-bottom: 14px;
}

#respond {
    .form_fields input, #comment {
        box-sizing: border-box;
        width: 100%;
    } 

    textarea {
        width: 98%
    }
}

.feature-post-text {
    float: right;
}


.entry {
    .wp-caption img {
        height: auto;
        max-width: 100%;
    }

    blockquote cite:before {
        content: ' -';
    }
}

.post-meta, span.date, .comment-meta {
    text-transform: none;
}

#report {
    margin-bottom: 13px;
}

.recent-meta span {    
    font-size: 14px;
}

#slider_nav {
    .item, .item.current a {
        font-size: 17px;

        &:hover {
            color: #000;
            font-weight: normal;
        }
    }
}

.related_posts .title {
    /* Overrides above h3 rule */
    color: #000;
}

.content-wrap {
    /* Make #header strip regardless of whether #header advert group is blocked. */
    background: center bottom/auto 6px no-repeat border-box url('images/rainbow_strip.svg');
    padding: 40px 4% 0 4%;
}

.inner-wrap {
    /* Stock colour is grey. */
    background-color: #fff;
}

.slide_content_holder {
    /* Posts slider on front page. */
    bottom: 10px;
}

/*
 * Imports
 * ------- 
 */

@import 'adverts';
@import 'archives';
@import 'banners';
@import 'education';
@import 'footer';
@import 'header';
@import 'home';
@import 'jobs';
@import 'menu';
@import 'plugins';
@import 'sharing';
@import 'single';
@import 'widgets';

/*
 * Media and Print Queries
 * -----------------------
 * These should _always_ come after all other rules.
 */

@import 'media';
@import 'print';