[submodule "includes/social-meta"]
	path = includes/social-meta
	url = git@github.com:bhalash/social-meta.git
    branch = master
    ignore = dirty
[submodule "includes/wp-custom-post-type-class"]
	path = includes/wp-custom-post-type-class
	url = git@github.com:jjgrainger/wp-custom-post-type-class.git
    branch = master
[submodule "includes/get-the-image"]
	path = includes/get-the-image
	url = git@github.com:justintadlock/get-the-image.git
    branch = master
[submodule "assets/css"]
	path = assets/css
	url = git@github.com:bhalash/tuairisc-css.git
    branch = master
    ignore = dirty
