[submodule "assets/sass/lib"]
	path = assets/sass/lib
	url = git@github.com:bhalash/scss-helpers.git
[submodule "includes/get-the-image"]
	path = includes/get-the-image
	url = git@github.com:justintadlock/get-the-image.git
