/******************************************  
 CUSTOM STYLESHEET
*******************************************/

/*
* You can place your custom CSS statements in this file, after this message.
* It is better to write everything custom here
* because this file won't be replaced during updates.
* 
* Simply copy an existing style from style.css to this file, 
* and modify it to your liking.
*/

/*
 Useful generic smartphone media query: 
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) 
*/
    
/* Font Selectors
 * --------------
 * Who doesn't love Georgia? */

.entry .wp-caption-text,
.post-heading p,
.breadcrumb-banner a,
.entry blockquote {    
    font-family: Georgia, Times, "Times New Roman", serif;
}

.breadcrumb-banner span {    
    font: 14px arial, "helvetica neue", helvetica, sans-serif;
}

/* Self-clearing floats 
 * ---------------------
 * WPZOOM's use of <div class="clear"></div> should be classed as a 
 * crime against humanity. */

.widget-area, .feature-posts-list, .feature-posts-list li,
.breadcrumb-banner, .post-meta, ul.mshare {
    overflow: auto;
}

.widget-area:after, .breadcrumb-banner:after, .post-meta:after,
.feature-posts-list:after, .feature-posts-list li:after, ul.mshare:after {
    clear: both;
    display: table;
}

/* Top Navigation Menu
 * -------------------
 * A one-hundred line minified JS file does what I could accomplish with 
 * one line of JS, ironically reversing the norm. */

.dropdown > li:last-child:after {
    /* Each header menu item has a | after it. This removes the | from the
    last item. */
    content: '';
} 

.sf-sub-indicator {
    display: none;
}

/* General Site Stylings
 * ---------------------
 * General stylings for generic parts of the site, as directed by
 * Aidan, Ciaran or Sean. */

#respond .form_fields input,
#comment {
    box-sizing: border-box;
    width: 100%;
}

#respond textarea {
    width: 98%;
}

.feature-post-text {
    float: right;
    width: 212px;
}

.recent-meta span,
.widget .feature-posts-list small {
    /* Widgets are capitalized. This causes issues with some Irish 
     * spellings. Removing capitalization affected legibility so I bumped
     * font size. */
    text-transform: none;
}

.recent-meta span {    
    font-size: 14px;
}

.three-columns .widget:nth-child(3n+2) .title  {
    /* WPZOOM gives the middle column a wider margin because no good reason 
     * that I can fathom. */
    margin: 0 0 5px 0;
}

h2 {
    /* Requested by Ciaran. */
    font-size: 20px;
}

h3 {
    /* Requested by Adian. */
    color: #999;
    font-size: 16px;
}

#slider_nav .item, #slider_nav .item.current a {
    font-size: 17px;
}

#slider_nav .item:hover a, #slider_nav .item.current a {
    color: #000;
    font-weight: normal;
}

.related_posts .title {
    /* Overrides above h3 rule */
    color: #000;
}

.content-wrap {
    /* Make header strip regardless of whether header advert group is blocked. */
    background: center bottom/auto 6px no-repeat border-box url('images/rainbow_strip.svg');
}

.inner-wrap {
    /* Stock colour is grey. */
    background-color: #fff;
}


.slide_content_holder {
    /* Posts slider on front page. */
    bottom: 10px;
}

.column_1 a {
    /* Yay for JS-loaded CSS!
     * Removes bottom margin from homepage widget hyperlinks. 
     * The effect brings the author and title closer together.
     * The Earth will /literally/ fall into the sun if you change this. */
    margin-bottom: 0 !important;
}

/* Header Block
 * ------------ 
 * The header block and its many children. */

header {
    /* Override gradient on header. */ 
    background: #fff center top/auto 6px no-repeat border-box url('images/rainbow_strip.svg');
}

header #logo img {
    /* Site logo. */ 
    height: 45px;
    width: auto;
}

header .search_form {
    /* This had godawful stock CSS. They floated the child inside the parent, 
     * instead of floating the parent. */
    float: right;
    padding-top: 10px;
}

header #searchform {
    float: none;
}

/* Footer Block
 * ------------
 * The footer block and its many children. */

footer {
    background: #fff left bottom/auto 65px no-repeat url('images/rainbow_footer.svg');
    height: auto;
    padding: 0 4% 65px 4%;
    /* The site is unbalanced. */
    margin-bottom: 0;
}

footer .interior {
    border-top: 1px solid #f1f1f1;
    padding-top: 20px;
}

.copyright, footer li, footer p {
    color: #000;
    font: 11px Arial, "Helvetica Neue", Helvetica, sans-serif;
    line-height: 20px;
}

footer a {
    color: inherit;
}

/* Copyright Block
 * ----------------
 * Privacy policy, copyright and all that other good stuff. */

.copyright {
    padding: 0;
}

.copyright p {
    font-size: 14px;
    margin-bottom: 0;
}

/* Footer Widgets and Columns 
 * --------------------------
 * Footer widgets are arranged into four columns. These rules override the fixed
 * default styles. */

.widget-area {
    width: 100%;
}

.widget-area .column {
    box-sizing: border-box;
    display: block;
    min-height: 1px;
    margin: 0 0 20px 0;
    width: 20%;
}

.widget-area .column:nth-child(1),
.widget-area .column:nth-child(2) {
    float: left;
}

.widget-area .column:nth-child(3),
.widget-area .column:nth-child(4) {
    float: right;
}

@media screen and (max-width: 770px) {
    .widget-area .column:nth-child(4) {
        display: none;
    }
 }

.widget-area .column:last-child {
    border: 0;
    margin-right: 0;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait), 
screen and (min-device-width:320px) and (max-device-width: 480px) and (orientation: landscape) {     
    .widget-area .column {
        float: none;
        margin-bottom: 0;
        width: 100%;
    }

    .widget-area .column:last-child {
        margin-bottom: 20px;
    }
}

/* Foras na Gaeilge Attribution Link
 * ---------------------------------
 * Foras na Gaeilge are a major sponsor of Tuairisc Nuacht. The sky /will/ fall
 * down if this link is ever removed. */

 .foras-attribution {
    background: right top/auto 100% no-repeat url('images/foras_na_gaeilge_logo.png');
    height: 60px;
    width: 100%;
 }

 .foras-attribution a {
     display: block;
     height: 100%;
     width: 100%;
 }

@media screen and (max-width: 770px) {
    .foras-attribution {
        background-position: left top;
    }
}

/* Article Element Styles
 * ----------------------
 * Styles for elements within articles, such as blockquote. */

.entry blockquote,
.entry blockquote p {
    margin: 0 0 14px 0;
}

.entry blockquote p:last-child {
    margin-bottom: 0;
}

.entry blockquote {
    background-image: 
        url('images/quotation_open.svg'), 
        url('images/quotation_close.svg');
    background-position: -4% 4%, 104% 88%;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: auto 25px;
    border-color: #f1f1f1;
    border-style: solid;
    border-width: 1px 0 1px 0;
    box-sizing: border-box;
    font-size: 18px;
    font-style: italic;
    padding: 15px 30px;
}

.entry blockquote cite {
    color: #444;
    display: block;
    font-style: none;
    font-weight: bold;
    font-size: 80%;
    width: 100%;
}

.entry blockquote cite:before {
    content: ' -';
}

/*
 * Education Post Section Headers
 * ------------------------------
 * This area will be fleshed out later. */

.edu-heading,
.edu-subheading {
    background: #c44b54;
    color: #fff;
}

.edu-heading {
    margin: 20px 0 !important;    
    padding: 10px;
}

.edu-subheading {
    margin: 10px 0;
    padding: 5px 30px;
}

/*
 * Modal Links
 * -----------
 * Aidan uses modal popup links. This is styling per Ciaran for 
 * post-embedded Soundcloud links. I will flesh this out later for 
 * other segments on the site. */

.modal-box {
    background-color: #2769A3;
    float: left;
    margin-bottom: 4px;
    width: 33%;
}

.modal-box:hover {
    background-color: #5992CF;
}

.modal-box:active {
    background-color: #5E83C4;
}

.modal-box a {
    color: #fff;
    display: block;
    font-size: 175%;
    font-weight: bold;
    padding: 30px 0;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

.left.modal-box {
    float: left;
    margin-right: 1%;
    width: 32%;
}

.middle.modal-box {
    margin: 0 auto;
}

.right.modal-box {
    float: right;
}

/*
 * AdRotate Groups
 * ---------------
 * AdRotate's groups are numeric classes from .g-1 to .g-∞
 * It's stock CSS is awful and loaded at run time via JS. This
 * section hopefully overrides all of those stock rules.
 * 
 * Group   Location
 * ------------------
 * .g-1    Header
 * .g-2    Sidebar #1
 * .g-3    Footer
 * .g-4    Sidebar #2
 * .g-5    Sidebar #3
 * 
 * If the AdRotate Pro plugin is ever updated then this CSS will break. 
 * AdRotate injects its own CSS upon page load. I have prevented this behaviour
 * with the following alteration of its files:
 * 
 * adrotate.php:
 * -------------
 * Commented line 68:
 *     Before:
 *         add_action('wp_head', 'adrotate_custom_css');
 *     After:
 *         // add_action('wp_head', 'adrotate_custom_css');
 *
 * If this line is uncommented then AdRotate Pro will inject its own CSS on
 * load. This is a Bad Thing which will bork advert display.
 * 
 * ./library/jquery.adrotate.dyngroup.js:
 * --------------------------------------
 * Altered line 58:
 *      Before:
 *          $cont.find(".c-" + counter).fadeIn(300)
 *      After:
 *          $cont.find(".c-" + counter).show()
 * 
 * Altered line 61:
 *      Before:
 *          $cont.find(".c-" + index).fadeOut(300)
 *      After:
 *          $cont.find(".c-" + index).hide()
 * 
 * This stock behaviour causes the next advert in rotation to appear before the
 * previous one disappears. It causes a brief "stack" of one advert atop the 
 * other. It would've made sense to do the second fade as a callback to the 
 * first, but what would I know, eh? 
 * Regardless-if AdRotate Pro is updated, these changes will be wiped out. */

/* General Advert Styles */

.g {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.g-2, .g-4, .g-5 {
    width: 100%;
}

/* Group Margins and Padding */

.g-1, .g-3 {
    padding: 20px 4%;
}

.g-2, .g-4, .g-5 {
    /* Sidebar column adverts */
    margin-bottom: 20px;
}

.g-dyn {
    /* Dynamic adverts on rotation. AdRotate will toggle each g-dyn block in 
     * sequence, but they initially all need to be hidden. */
    display: none;
}

/* This is the actual advert div. Structure is:
 * 
 *  .tuarisic-advert
 *      a
 */

.tuairisc-advert {
    /* Background image is set via tuairisc_adrotate.js */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    box-sizing: border-box;
    /*border: 1px solid #ddd;*/
    margin: 0 auto;
}

.tuairisc-advert a {
    display: block;
    height: 100%;
    width: 100%;
}

/* Advert Responsiveness */

@media screen and (max-width: 770px) {
    /* Standard mobile view. For tablets or small desktop sizes. */
    .g-2, .g-4, .g-5 {
        float: left;
        width: 32%;
    }

    .g-2, .g-4 {
        margin-right: 2%;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) { 
    /* Generic smartphone mobile query. */
    .g-2, .g-4, .g-5 {
        float: none;
        margin-right: 0;
        width: 99%;
    }
}

/* Category Header Banners
 * ------------------------
 * Each category has a custom header bannner.
 * Children have the same colour as the parent.
 * Colours are set via PHP. 
 * 
 * See: gazeti/functions/user/functions.php */

.breadcrumb-banner {
    margin-bottom: 20px;
    padding: 5px 0;  
    width: 100%;    
}

.breadcrumb-banner a {
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.breadcrumb-banner a:last-child {
    font-size: 10px;
}

.breadcrumb-banner a:first-child {
    margin-left: 15px;
    font-size: 18px;
}

.breadcrumb-banner a:nth-child(2):before {
    content: '» ';
    font-size: 22px;
}

.breadcrumb-banner span {
    color: #fff;
    float: right;
    margin: 10px 15px 0 0;
    text-align: right;
}

.breadcrumb-banner span::first-line {
    font-weight: bold;
}

.breadcrumb-post a {
    color: #000;
}

/* Wider Banner for Greann Category (158) 
 * ------------------------------------
 * The Greann category (158) must be taller in order to separate content. */

.greann {
    background: 10px center/auto 60px no-repeat url('images/asnc_logo.svg');
    min-height: 60px;
    padding: 15px 0;
}

/*
 * Main Content Widget
 * -------------------
 * The author's name will appear above the widget. */

.main_content span {
    text-transform: uppercase;
}

.main_content span:after {
    content: ' - ';
}

/* Custom Hero Image
 * -----------------
 * The lead post on category pages has a different, bigger layout.
 * The placement of text and image are reversed. */

.hero-image,
.hero-image a {
    height: 333px;
}

.hero-image {
    /* Background image is set via PHP. */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
    width: 71%;
}

.hero-image a {
    display: block;
    width: 100%;
}

.hero-post {
    float: left;
    width: 27%;
}

.hero-post span:first-child {
    display: inline-block;
    margin-bottom: 5px;
}

.hero-post p {
    font-size: center;
}

@media screen and (max-width: 770px) {
    .hero-post, .hero-image {
        float: none;
        width: 100%;
    }

    .hero-image {
        margin-bottom: 10px;
    }
}

/* Single Post Title and Meta
 * --------------------------
 * I rewrote and changed the style of the header. The stock layout
 * is a fucking mess of display:table and display:table-cell. I first
 * reset from this and from there build up layout using the same 
 * containers. */

.post-heading,
.post-meta,
.post-meta span,
.meta-author,
.post-heading h1.title {    
    /* Override/reset post titles. */
    /* By default these display as table elements. */
    display: block;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    text-align: left;
    width: 100%;
}

.single .entry,
.post-meta,
.post-author-avatar,
.post-meta-text,
.post-heading .title {
    /* Contain padding.
     * 
     * All post title items requires padding, but horizontal
     * space is limited. */
    box-sizing: border-box;
}

.single .entry,
.post-meta,
.post-heading .title {
    padding: 0 4%;    
}

.post-wrapper {
    /* Containing post wrapper
     * Even out the padding. */
    padding: 10px 0;
}

.post-meta {
    /* For legibility when its white-on-white. */
    border: 1px solid #f1f1f1;
}

.post-meta {
    border-width: 1px 0;
    padding: 9px 4%;
}

.post-meta > * {
    /* Please forive me for the wildcard selector. :/ */
    float: left;
}

.avatar {
    /* background-image is set in single.php */ 
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.post-meta > .avatar {
    /* Single post header avatar. */
    height: 67px;
    margin-right: 10px;
    width: 67px;
}

.post-thumb > .avatar {
    height: 150px;
    width: 200px;
}

.post-meta-text {
    text-transform: initial;
}

.meta-author a {  
    color: #000;
    text-transform: uppercase;
}

.meta-author a:hover {
    color: #95c37c;
}

.post-heading .more-link a {
    /* Remove 'read more' link from excerpt/description. */
    display: none;
}

.post-heading .title {
    margin-bottom: 10px;    
}

.entry .wp-caption-text,
.post-heading p {
    color: #87888a; 
    font-size: 16px;
    line-height: 17px;
    margin-bottom: 13px;
    padding: 0 4%;
}

.entry .wp-caption img {
    margin-bottom: 10px;
}

.entry .wp-caption-text {
    font-size: 14px;
    padding: 0;
    text-align: left;
}

.single .entry {
    /* Remove border from top of post conent. */ 
    border: none;
}

/* Education Landing Page
 * ----------------------
 * The education landing page is a series of five coloured
 * boxes that link into the relevant sections. */

.education-box {
    color: #fff;
    margin-bottom: -10px;
}

.education-box a {
    box-sizing: border-box;
    display: block;
    height: 100%;
    padding: 15px 20% 15px 4%;
    width: 100%;
}

.education-box:hover {
    background-image: url('images/placeholder_arrow.svg');
    background-origin: bounding-box;
    background-position: 97% center;
    background-repeat: no-repeat;
    background-size: auto 60px;
}

@media screen and (max-width: 770px) {
    .education-box {
        padding: 20px;
    }

    .education-box:hover {
        background-image: none;
    }
}

.education-0:hover { 
    background-image: none;
}

.education-box a {    
    color: inherit;
    text-decoration: none;
}

.education-box h1 {
    margin-bottom: 22px;
}

.education-box h1,
.education-box p {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.education-box p {
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 0;
}

.education-box span {
    font-size: 175%;
    text-transform: uppercase;
}

.education-0 { background-color: #424045; }
.education-1 { background-color: #c44b54; }
.education-2 { background-color: #7c5c91; }
.education-3 { background-color: #c9ab5f; }
.education-4 { background-color: #89b0d4; }
.education-5 { background-color: #e34284; }

/*
    Nav Menu Social Links
    ----------------------
    The stock widgets look like crap. These layout better,
    don't hog the site or break layout when the page is 
    resized. 

    Triggered to hide at mobile sizes. The rationale is that
    the links will open in a browser, but not the native 
    applications. So there is fundamentally no reason to show them.

    You can choose from:

    Colour      Class       Service
    -------------------------------
    #f5756c     .email      Email
    #3b5998     .facebook   Facebook     
    #ff0084     .flickr     Flickr
    #333        .github     GitHub
    #dd4b39     .google     Google+
    #3f729b     .instagram  Instagram
    #0976b4     .linkedin   LinkedIn
    #cc2127     .interest   Pinterest
    #35465c     .tumblr     Tumblr
    #55acee     .twitter    Twitter
    #b31217     .youtube    YouTube

    The menu takes the form of a horizontal ul.
    Just drop in links as so:

    <ul class="mshare">
        <li><a class="email" href="#"></a></li>
        ...
        <li><a class="youtube" href="#"></a></li>
    </ul>
 */

ul.mshare,
.mshare li,
.mshare a {
    line-height: initial;
    margin: 0;
    overflow: auto;
    padding: 0;
}

ul.mshare {
    float: right;
}

.mshare li,
.mshare a {
    height: 30px;
    width: 30px;
}

header .mshare li,
header .mshare a {
    height: 33px; 
    width: 33px;
}

header .mshare {
    padding-top: 27px;
    margin-right: 5px;
    float: right;
}

@media screen and (max-width: 800px) {
    header .mshare {
        display: none;
    }
}

.mshare li {
    display: inline;
    list-style-type: none;
    margin-right: 2px;
}

.mshare a {
    background-size: 90% auto;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 3px;
    display: inline-block;
}

.mshare .email { 
    background-color: #f5756c;
    background-image: url('images/social/email.png'); 
}

.mshare .facebook { 
    background-color: #3B5998;
    background-image: url('images/social/facebook.png');
}

.mshare .flickr { 
    background-color: #ff0084;
    background-image: url('images/social/flickr.png');
}

.mshare .github { 
    background-color: #333;
    background-image: url('images/social/github.png');
}

.mshare .google { 
    background-color: #dd4b39;
    background-image: url('images/social/google.png');
} 

.mshare .instagram { 
    background-color: #3f729b;
    background-image: url('images/social/instagram.png');
} 

.mshare .linkedin { 
    background-color: #0976b4;
    background-image: url('images/social/linkedin.png');
} 

.mshare .pinterest { 
    background-color: #cc2127;
    background-image: url('images/social/pinterest.png');
} 

.mshare .reddit {
    background-color: #ff5700;
    background-image: url('images/social/reddit.png');
}

.mshare .rss { 
    background-color: #ff6600;
    background-image: url('images/social/rss.png');
} 

.mshare .tumblr { 
    background-color: #35465c;
    background-image: url('images/social/tumblr.png');
} 

.mshare .twitter { 
    background-color: #55acee;
    background-image: url('images/social/twitter.png');
} 

.mshare .youtube { 
    background-color: #b31217;
    background-image: url('images/social/youtube.png');
} 