/*
 * Body and HTML
 * ------------
 */

body {
    @include media(print) {
        margin: 0;
    }
}

/* Tables
 * ------
 * Needed for tables to display correctly. 
 */

table.tg {
    margin-bottom: $margin;
    width: 100%;

    a {
        text-decoration: none;
    }
}

/* 
 * Headline Stylings
 * -----------------
 */

h2 {
    font-size: $font-size-20;
}

h3 {
    color: #999;
    font-size: $font-size-16;
}

/*
 * Content Wrappers
 * ----------------
 */

.content-wrap {
    /* Make #header strip regardless of whether #header advert group is blocked. */
    background: center bottom/auto 6px no-repeat border-box url($background-rainbow-strip);
    padding: $padding-19 4% 0 4%;

    @include media(smartphone) {
        padding-top: 0;
    }

    @include media(print) {
        background: none;
        padding: 0;
    }
}

.inner-wrap {
    /* Stock colour is grey. */
    background-color: #fff;

    @include media(smartphone) {
        padding-top: 40px;
    }
}

/*
 * Miscellaneous Rules
 * -------------------
 * These are one-line fixes to fix quirks in the Gazeti theme.
 */

.related_posts, #sidebar, .full-widget-area {
    // All otherwise-unrelated areas to hide when printing.
    @include media(print) {
        display: none;
    }
}

.caroufredsel_wrapper {
    /* Carousel wrapper occasionally wigs out in a bad way because it goes by
     * parent height as set by jQuery, and sometimes runs before images load. */
    min-height: 200px;
}

#respond {
    // WordPress comment response form.
    @include media(print) {
        display: none;
    }

    .form_fields input, #comment {
        box-sizing: border-box;
        width: 100%;
    } 

    textarea {
        width: 98%
    }
}

span.date {
    /* Gazeti transforms hyperlinks to uppercase by default, which can render
     * an Irish name to be nonsensical. */
    text-transform: none;
}

.navigation {
    // Page/index bottom pagination.
    @include media(print) {
        display: none;
    }
}

.recent-meta span {    
    // Post header meta spans. 
    font-size: $font-size;
}

#slider_nav {
    // Gazeti's sliding navigation.
    .item, .item.current a {
        font-size: $font-size-16;

        &:hover {
            color: #000;
            font-weight: normal;
        }
    }
}

.slide_content_holder {
    // Posts slider on front page.
    bottom: 10px;
}

/*
 * Unsure
 * ------
 * I am not 100% to what these apply because of poor commenting. 
 */
 
.feature-post-text {
    float: right;
    width: calc(100% - 90px);
}

#slides li {
    @extend %clearfix;
}

#report {
    margin-bottom: $margin;
}
