body { 
	color:#555;
}	

a { color: #565656; text-decoration:none; }
a:hover { color:#3AAA35; text-decoration:none;}


#header {
	background: #FFF;
	background: -moz-linear-gradient(top, #ffffff 0%, #eaeaea 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFF), color-stop(100%,#EAEAEA));
	background: -webkit-linear-gradient(top, #FFF 0%,#EAEAEA 100%);
	background: -o-linear-gradient(top, #ffffff 0%,#eaeaea 100%);
	background: -ms-linear-gradient(top, #ffffff 0%,#eaeaea 100%);
	background: linear-gradient(top, #ffffff 0%,#eaeaea 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
}

#advert_header {
	height: 107px;
	background-color: #FFF;
	background-image: url(../../../../res/header-background.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	padding-top: 23px;
	text-align: center;
	width: 1180px;
	margin-right: auto;
	margin-left: auto;
}

#logo a {
	color: #4E524E;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
}

#menu {
	border: 1px solid #000;
	border-bottom: none;
 	background: #000000;
}

#header #searchform {
 	border: 1px solid #D8D8D8;
	box-shadow: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.dropdown a {
	color: #FFF;
}

.dropdown a:hover {
    background:#000;
    color:#fff;
}

.dropdown ul {
	background:#000;
}


.dropdown li:hover a {
	background:#000;
}

.dropdown > li:after {
	content: '|';
	font-size: 15px;
	color:#333;
}

.dropdown .current_page_item a,
.dropdown .current-cat a,
.dropdown .current-menu-item a,
.dropdown .current_page_item a,
.dropdown .current-cat a,
.dropdown .current-menu-item a,
.dropdown .current-post-parent a {
 	color: #FFF;
 	background: #000;
 }

.dropdown li:hover li a:hover {
    background:#506572;
}


#slider .date {  background-color: #3AAA35; }
#slider #slides h2 a:hover { color: #3AAA35; }
#slider_nav .item a:hover { color: #3AAA35; } 
#slider_nav .item:hover a, #slider_nav .item.current a {
	color: #000000;
	font-weight: 600;
}

#slider {background: #F6F6F6;}
#slider #slides { background: #000; }
#slider_nav .item { border-bottom: 1px solid #ECECEC; }

#slider_nav .item a { color: #516671; }

.meta-author a { color: #3AAA35; }

ul.tabbernav li a:hover { color: #3AAA35;  }
ul.tabbernav li.tabberactive { border-right: 1px solid #C94C52; background: #C94C52;  }
ul.tabbernav li.tabberactive a:hover{ color:#fff;}
 

#footer a:hover { color: #3AAA35; }
#footer .widget .title { color:#3AAA35;}
 
.category-widget.dark-skin h2.title {   color:#3AAA35; }
.category-widget.dark-skin h2.title a { color:#000000; } 
.category-widget.dark-skin li a:hover { color:#3AAA35; } 
.wztw-container .tabs li a { color: #506572;  }

@media screen and (max-width: 768px) {
    .btn_menu {   background:#555 url('../images/menu.png') 8px 9px no-repeat !important;   }
}